.group-child15 {
  position: absolute;
  top: 0;
  left: 0.088rem;
  border-radius: var(--br-mini);
  background-color: var(--color-deeppink);
  width: 0.25rem;
  height: 1.419rem;
}
.sustainable-development-goals-8 {
  position: absolute;
  top: 0.631rem;
  left: 0;
  width: 1.131rem;
  height: 1.038rem;
  object-fit: cover;
}
.rectangle-parent4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.131rem;
  height: 1.669rem;
}
.group-child16 {
  position: absolute;
  top: 0.006rem;
  left: 0.875rem;
  border-radius: var(--br-mini);
  background-color: var(--color-deeppink);
  width: 0.269rem;
  height: 1.038rem;
}
.sustainable-development-goals-9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.138rem;
  height: 1.044rem;
  object-fit: cover;
}
.path-25-icon2,
.rectangle-parent5 {
  position: absolute;
  top: 0.625rem;
  left: 1.225rem;
  width: 1.144rem;
  height: 1.044rem;
}
.path-25-icon2 {
  top: 0.981rem;
  left: 0.175rem;
  width: 0.813rem;
  height: 0.644rem;
  object-fit: contain;
}
.group-child17 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-deeppink);
  width: 0.269rem;
  height: 1.038rem;
}
.group-wrapper1,
.path-25-container {
  position: absolute;
  width: 0.988rem;
  height: 1.625rem;
}
.path-25-container {
  top: 0;
  left: 0;
}
.group-wrapper1 {
  top: 0.631rem;
  left: 2.463rem;
}
.sustainable-development-goals-10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.369rem;
  height: 0.338rem;
  object-fit: cover;
}
.group-child18 {
  position: absolute;
  top: 0.381rem;
  left: 0.05rem;
  border-radius: var(--br-mini);
  background-color: var(--color-deeppink);
  width: 0.269rem;
  height: 1.038rem;
}
.group-child19,
.sustainable-development-goals-parent2 {
  position: absolute;
  top: 0.25rem;
  left: 3.4rem;
  width: 0.369rem;
  height: 1.419rem;
}
.group-child19 {
  top: 0.381rem;
  left: 0.063rem;
  border-radius: var(--br-mini);
  background-color: var(--color-deeppink);
  width: 0.269rem;
  height: 1.038rem;
}
.sustainable-development-goals-parent3 {
  position: absolute;
  top: 0.25rem;
  left: 4.944rem;
  width: 0.369rem;
  height: 1.419rem;
}
.group-child20 {
  top: 1.4rem;
  left: 0.813rem;
  height: 0.881rem;
  transform: rotate(47deg);
  transform-origin: 0 0;
}
.group-child20,
.group-child21,
.group-child22 {
  position: absolute;
  border-radius: var(--br-mini);
  background-color: var(--color-deeppink);
  width: 0.269rem;
}
.group-child21 {
  top: 1.656rem;
  left: 0.269rem;
  height: 0.881rem;
  transform: rotate(-43deg);
  transform-origin: 0 0;
}
.group-child22 {
  top: 0;
  left: 0;
  height: 1.556rem;
}
.rectangle-parent6 {
  position: absolute;
  top: 0.113rem;
  left: 3.856rem;
  width: 1.069rem;
  height: 2.3rem;
}
.group-parent1 {
  top: 3.063rem;
  left: 2.313rem;
  width: 5.313rem;
  height: 2.413rem;
}
.coinup-icon1,
.group-parent1,
.log-in-icon1 {
  position: absolute;
  display: none;
}
.coinup-icon1 {
  top: 3.438rem;
  left: 18.5rem;
  width: 1.688rem;
  height: 1.688rem;
  object-fit: cover;
}
.log-in-icon1 {
  top: 2.875rem;
  left: 17.938rem;
  width: 1.125rem;
  height: 1.125rem;
}
.next3 {
  position: absolute;
  top: 41.75rem;
  left: 15.188rem;
  color: var(--rgb0-0-0);
  cursor: pointer;
}
.group-child23 {
  position: absolute;
  top: 1.344rem;
  left: -0.031rem;
  border-top: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 12.438rem;
  height: 0.063rem;
}
.contact {
  position: absolute;
  top: 0;
  left: 1.125rem;
  text-transform: capitalize;
  font-weight: 300;
}
.line-group {
  position: absolute;
  top: 33rem;
  left: 5.063rem;
  width: 12.375rem;
  height: 1.375rem;
}
.group-child24 {
  position: absolute;
  top: 1.344rem;
  left: calc(50% - 99.5px);
  border-top: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 12.438rem;
  height: 0.063rem;
}
.line-container {
  position: absolute;
  top: 29.25rem;
  left: calc(50% - 99px);
  width: 12.375rem;
  height: 1.375rem;
}
.email1 {
  position: absolute;
  top: 0;
  left: 1.125rem;
  font-weight: 300;
}
.line-parent1 {
  position: absolute;
  top: 36.75rem;
  left: 5.063rem;
  width: 12.375rem;
  height: 1.375rem;
}
.mask-group-61 {
  position: absolute;
  top: 0;
  left: 0;
  width: 22.5rem;
  height: 16.813rem;
  object-fit: cover;
}
.lets-complete-your,
.lets-complete-your1 {
  position: absolute;
  text-transform: capitalize;
  font-weight: 300;
}
.lets-complete-your {
  top: 24.188rem;
  left: 5.063rem;
  color: var(--rgb0-0-0);
}
.lets-complete-your1 {
  top: 42.063rem;
  left: 5.563rem;
}
.arrow-left-child4 {
  position: absolute;
  top: 0.4rem;
  left: -0.037rem;
  border-top: 1.2px solid var(--rgb0-0-0);
  box-sizing: border-box;
  width: 0.95rem;
  height: 0.075rem;
}
.arrow-left6,
.path-95-icon1 {
  position: absolute;
  height: 0.875rem;
}
.path-95-icon1 {
  top: 0;
  left: 0;
  width: 0.438rem;
}
.arrow-left6 {
  top: 20.938rem;
  left: 5.313rem;
  width: 0.875rem;
  cursor: pointer;
}
.samsung-galaxy-s10-27 {
  width: 100%;
  position: relative;
  background: linear-gradient(-90deg, #b7cdff, #f1dbee 45.74%, #ffd9e6);
  height: 47.5rem;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-darkgray-100);
  font-family: var(--font-open-sans);
}
