.complete-your-profile3 {
  position: absolute;
  top: 8.125rem;
  left: calc(50% - 102px);
  font-weight: 300;
  white-space: pre-wrap;
}
.aarp-foundation4 {
  position: absolute;
  top: 19.563rem;
  left: 5.244rem;
  font-weight: 300;
}
.group-child117 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  width: 2.5rem;
  height: 2.5rem;
}
.aarp-foundation5 {
  position: absolute;
  top: 0.563rem;
  left: 0.938rem;
  font-weight: 300;
}
.vector-container {
  position: absolute;
  top: 15.063rem;
  left: 5.063rem;
  width: 2.5rem;
  height: 2.5rem;
}
.action-against-hunger2,
.arcons-children-hospice2 {
  position: absolute;
  top: 22.938rem;
  left: 5.238rem;
  font-weight: 300;
}
.action-against-hunger2 {
  top: 26.375rem;
  left: 5.269rem;
}
.action-against-hunger2,
.action2 {
  text-transform: capitalize;
}
.actionaid2,
.acumen4 {
  position: absolute;
  font-weight: 300;
}
.actionaid2 {
  top: 29.75rem;
  left: 5.131rem;
  cursor: pointer;
}
.acumen4 {
  top: 33.125rem;
  left: 5.156rem;
  text-transform: capitalize;
}
.adelson-foundation-container1 {
  position: absolute;
  top: 36.5rem;
  left: 5.244rem;
  font-weight: 300;
}
.samsung-galaxy-s10-41-child {
  position: absolute;
  top: 11.063rem;
  left: calc(50% - 102px);
  border-radius: var(--br-base);
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 13.938rem;
  height: 2.375rem;
}
.path-27-icon6 {
  position: absolute;
  top: 8.125rem;
  left: 18.813rem;
  width: 1.719rem;
  height: 1.719rem;
  object-fit: contain;
}
.acumen5 {
  position: absolute;
  top: 11.75rem;
  left: 5.938rem;
  font-size: var(--font-size-xs);
  text-transform: capitalize;
  font-weight: 300;
}
.arrow-left-icon {
  position: absolute;
  top: 4.438rem;
  left: 4.625rem;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  cursor: pointer;
}
.adventist-development-and-container {
  position: absolute;
  top: 39.875rem;
  left: 5.125rem;
  font-weight: 300;
  text-align: left;
  display: inline-block;
  width: 15.313rem;
}
.samsung-galaxy-s10-41 {
  width: 100%;
  position: relative;
  background: linear-gradient(-90deg, #b7cdff, #f1dbee 45.74%, #ffd9e6);
  height: 47.5rem;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--rgb0-0-0);
  font-family: var(--font-open-sans);
}
