.samsung-galaxy-s10-24-child {
  position: absolute;
  top: 25.25rem;
  left: 2.5rem;
  backdrop-filter: blur(35px);
  background-color: var(--color-gray-700);
  border: 1px solid var(--color-gray-600);
  box-sizing: border-box;
  width: 17.25rem;
  height: 3.313rem;
}
.samsung-galaxy-s10-24-item {
  position: absolute;
  top: 17.438rem;
  left: 17.688rem;
  backdrop-filter: blur(10px);
  border-radius: var(--br-3xs);
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0.08), #fff);
  border: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  width: 2.5rem;
  height: 2.5rem;
  display: none;
}
.donate4 {
  top: 37.188rem;
  left: 16.544rem;
}
.donate-with1,
.donate4,
.m-pesa4,
.phone-number1 {
  position: absolute;
  text-transform: capitalize;
}
.phone-number1 {
  top: 31.375rem;
  left: 7.925rem;
  color: var(--color-darkgray-100);
}
.donate-with1,
.m-pesa4 {
  top: 22.375rem;
  left: 2.65rem;
}
.m-pesa4 {
  top: 26.188rem;
  left: 3.85rem;
}
.chevron-down-icon1 {
  position: absolute;
  top: 26.688rem;
  left: 18.063rem;
  width: 0.75rem;
  height: 0.375rem;
}
.samsung-galaxy-s10-24-inner {
  position: absolute;
  top: 33.469rem;
  left: 2.719rem;
  border-top: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 17.063rem;
  height: 0.063rem;
}
.payment1 {
  position: absolute;
  top: 14.563rem;
  left: 9.288rem;
  font-weight: 300;
}
.samsung-galaxy-s10-24-child1 {
  position: absolute;
  top: 8rem;
  left: 9rem;
  border-radius: 50%;
  background: linear-gradient(-90deg, #b7cdff, #f1dbee 45.74%, #ffd9e6);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 4.5rem;
  height: 4.5rem;
}
.arrow-left-child24 {
  position: absolute;
  top: 0.313rem;
  left: -0.062rem;
  border-top: 2px solid var(--rgb0-0-0);
  box-sizing: border-box;
  width: 1rem;
  height: 0.125rem;
}
.arrow-left26,
.path-104-icon13 {
  position: absolute;
  height: 0.875rem;
}
.path-104-icon13 {
  top: 0;
  left: 0;
  width: 0.438rem;
}
.arrow-left26 {
  top: 4.25rem;
  left: 2.75rem;
  width: 0.875rem;
  cursor: pointer;
}
.samsung-galaxy-s10-24 {
  width: 100%;
  position: relative;
  background: linear-gradient(-90deg, #b7cdff, #f1dbee 45.74%, #ffd9e6);
  height: 47.313rem;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--rgb0-0-0);
  font-family: var(--font-open-sans);
}
