.complete-your-profile4 {
  position: absolute;
  top: 8.063rem;
  left: calc(50% - 99px);
  font-weight: 300;
}
.arrow-left-child29 {
  position: absolute;
  top: 0.4rem;
  left: -0.037rem;
  border-top: 1.2px solid var(--rgb0-0-0);
  box-sizing: border-box;
  width: 0.95rem;
  height: 0.075rem;
}
.arrow-left31,
.path-95-icon12 {
  position: absolute;
  height: 0.875rem;
}
.path-95-icon12 {
  top: 0;
  left: 0;
  width: 0.438rem;
}
.arrow-left31 {
  top: 4.438rem;
  left: 4.625rem;
  width: 0.875rem;
  cursor: pointer;
}
.aarp-foundation6 {
  position: absolute;
  top: 19.563rem;
  left: 5.244rem;
  font-weight: 300;
}
.group-child118 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  width: 2.5rem;
  height: 2.5rem;
}
.aarp-foundation7 {
  position: absolute;
  top: 0.563rem;
  left: 0.938rem;
  font-weight: 300;
}
.vector-parent1 {
  position: absolute;
  top: 15.063rem;
  left: 5.063rem;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--color-deeppink);
}
.action-against-hunger3,
.arcons-children-hospice3 {
  position: absolute;
  top: 22.938rem;
  left: 5.238rem;
  font-weight: 300;
}
.action-against-hunger3 {
  top: 26.375rem;
  left: 5.269rem;
}
.action-against-hunger3,
.action3 {
  text-transform: capitalize;
}
.actionaid3,
.acumen6 {
  position: absolute;
  font-weight: 300;
}
.actionaid3 {
  top: 29.75rem;
  left: 5.131rem;
  cursor: pointer;
}
.acumen6 {
  top: 33.125rem;
  left: 5.156rem;
  text-transform: capitalize;
}
.adelson-foundation-container2 {
  position: absolute;
  top: 36.5rem;
  left: 5.244rem;
  font-weight: 300;
}
.samsung-galaxy-s10-42-child {
  position: absolute;
  top: 11.063rem;
  left: calc(50% - 102px);
  border-radius: var(--br-base);
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 13.938rem;
  height: 2.375rem;
}
.add-picture6 {
  position: absolute;
  top: 41.188rem;
  left: 16.313rem;
  cursor: pointer;
}
.path-27-icon7 {
  position: absolute;
  top: 7.875rem;
  left: 17.938rem;
  width: 1.719rem;
  height: 1.719rem;
  object-fit: contain;
}
.acumen7 {
  position: absolute;
  top: 11.75rem;
  left: 5.938rem;
  font-size: var(--font-size-xs);
  text-transform: capitalize;
  font-weight: 300;
}
.samsung-galaxy-s10-42 {
  width: 100%;
  position: relative;
  background: linear-gradient(-90deg, #b7cdff, #f1dbee 45.74%, #ffd9e6);
  height: 47.5rem;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--rgb0-0-0);
  font-family: var(--font-open-sans);
}
